{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}{% endblock %}

{% block content %}
	<div id="layoutSidenav_content">
		<main>
			<div class="card mb-4 my-4">
				<div class="card-header">
					<i class="fas fa-table me-1"></i>
					Liste des Post-{{status_post}}
				</div>
				<div class="card-body">
					<table id="datatablesSimple">
						<thead>
							<tr class="bg-{{css_arraylist}}">
								<th>Titre</th>
								<th>Auteur</th>
								<th>Chapo</th>
								<th>Date de publication</th>
								<th>Image</th>
								<th>Action</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								<tr class="bg-light">
									<td>
										<a href="{{ path('admin_onepost', {slug_post:post.slug})}}">{{ post.title }}</a>
									</td>
									<td>{{ post.author }}</td>
									<td>{{ post.chapo }}</td>
									<td>{{ post.created_at }}</td>
									<td>{{post.picture}}</td>
									<td>
										<a href="{{path('admin_updatepost', {slug_post:post.slug})}}">
											<button type="button" class="btn btn-primary">Modifier</button>
										</a>
									</td>
									<td>
										<a href="{{path('admin_deletepost', {id:post.id})}}" class="btn btn-danger btn-circle" onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer le post?')">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr class="bg-success">
								<th>Titre</th>
								<th>Auteur</th>
								<th>Chapo</th>
								<th>Date de publication</th>
								<th>Image</th>
								<th>Action</th>
								<th>Delete</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</main>		
	</div>
{% endblock %}
