{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}{% endblock %}
{% block title %}Dashboarddddddddddddd
{% endblock %}
{% block content %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container">								
					<div class="jumbotron px-5 my-5 bg-light border rounded-3">
							<h1 class="text-info display-3 mb-2">{{post.title}}</h1>
							<p class="lead author fst-italic">Chapô : {{post.chapo}}</p>
						<div class="header-post">
							<div class="blog-post-meta mb-3 ">{% if post.created_at == post.updated_at %}publié le  {{post.created_at}}{% else %} Mise à jour le {{post.updated_at}} {% endif %},
							by {{post.author}}						
						</div>
						<div class="img mb-3"><img class="post-img mb-lg-0" src="/assets/img/{{post.picture}}" alt=""></div>
						<div class="content">
							<p class="content-post pb-3">Contenu : {{post.content}}</p>
						</div>
					</div>
				</div>
				<div class="card mb-4">
					<div class="block_comment">						
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							Liste des commentaires
						</div>
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr class="bg-info">
										<th>Auteur</th>
										<th>Commentaire</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for comment in comments %}
										{% if comment is not empty %}
											{% if comment.comment_status == false  %}
												<tr class="bg-warning">
													<td>{{ comment.nickname }}</td>
													<td>{{ comment.content }}</td>
													<td><a href="{{path('admin_validcomment', {slug_post:post.slug, id:comment.id})}}"  class="btn btn-success  mb-3">Modifier</a></td>
												</tr>
											{% else %}
												
													<tr class="bg-light">
														<td>{{ comment.nickname }}</td>
														<td>{{ comment.content }}</td>
														<td>Validé</td>
													</tr>
											{% endif %}
										{% else %}
											<div class="text-dark mb-3  fst-italic"><h2>Aucun commentaire	</div>
										{% endif %}					
									{% endfor %}
								</tbody>
								<tfoot>
									<tr class="bg-success">
										<th>Auteur</th>
										<th>Commentaire</th>
										<th>Status</th>
									</tr>
								</tfoot>
							</table>
						</div>							
					</div>
				</div>
			</div>
		</main>		
	</div>


{% endblock %}
