{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}<link href="css/stylesadmin.css" rel="stylesheet" />{% endblock %} 
{% block title %}Dashboard{% endblock %}    
    
{% block content %}
    <div class="container mt-4">
        <div id="layoutSidenav_content">        
            <form method="post" action="">
            
                <div class="form-group border border-info mb-5 p-5 ml-5 mr-5">
                <div class="text-center mb-4"><h2 class="fw-bold">Modification d'un utilisateur</h2></div>
                <p class="lead fw-bold">
                    Nom :     
                <input class="form-control mb-3" type="text" name="name" placeholder="Nom" value ={{user.name}}>
                </p>
                <p class="lead fw-bold">
                    Prénom :                
                <input class="form-control mb-3" type="text" name="surname" placeholder="Prénom" value ={{user.surname}}>
                </p>
                <p class="lead fw-bold">
                    Pseudo :
                <input class="form-control mb-3" type="text" name="nickname" placeholder="Pseudo" value ={{user.nickname}}>
                </p>
                <p class="lead fw-bold">
                    E-mail :
                <input class="form-control mb-3" type="text" name="email" placeholder="E-mail" value ={{user.email}}>
                </p>
                <p class="lead fw-bold">
                    password :
                <input class="form-control mb-3" type="password" name="password"  value ={{user.password}}>
                </p>
                <p class="lead fw-bold">
                    Role :
                <select multiple name ="role"   class="form-control mb-4" id="FormControlUserRole"  required>
                    <option value ="user">User</option>
                    <option value ="admin">Admin</option>                   
                </select>
                </p>
                <input name="usertoken" type="hidden" value="{{session.get('usertoken')}}">
                <input class="form-control mb-3" type="hidden" name="id" value={{user.id}}>
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
            
        </form>
    </div></div>
{% endblock %}
