{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}{% endblock %} 
{% block title %}Dashboarddddddddddddd{% endblock %}    
    
{% block content %}    
    <div id="layoutSidenav_content">
        <main>                    
            <div class="card mb-4 my-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Accueil - Liste des Utilisateurs
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr class="bg-info">
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Pseudo</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Modifier</th>
                                <th>Delete</th>                                        
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}                                
                                <tr class="bg-white">
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.nickname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role}}</td>
                                    <td><a href="{{path('admin_updateuser', {id:user.id})}}"><button type="button" class="btn btn-primary">Modifier</button></a></td>                                        
                                    <td><a href="{{path('admin_deleteuser', {id:user.id})}}" class="btn btn-danger btn-circle" onclick="return window.confirm('Êtes-vous sûr de vouloir supprimer l\'utilisateur?')"><i class="fas fa-trash"></i></a></td>
                                </tr>                                                                       
                            {% endfor %}                                 
                        </tbody>
                        <tfoot>
                            <tr class="bg-success">
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Pseudo</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Modifier</th>
                                <th>Delete</th>                                        
                            </tr>
                        </tfoot>                                    
                    </table>
                </div>
            </div>                    
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    
{% endblock %}