{% extends "template/baseTemplate.html.twig" %}
{% block title %}Articles -
	{{post.title}}
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<section class="blog-topbarimg"></section>
	<div class="container">
		<div class="cardpostrow row mb-2">
			<div class="col-md-9">
				
				<h1 class=" text-info title-post">{{post.title}}</h1>				
				
				<div class="img mb-3"><img class="img-fluid  mb-lg-0" src="/assets/img/{{post.picture}}" alt=""></div>
				<div class="header-post d-flex justify-content-between">
					<div class="blog-post-meta">{% if post.created_at == post.updated_at %}publié le  {{post.created_at}}{% else %} Mise à jour le {{post.updated_at}} {% endif %},
						by
						<span class="author fst-italic ">
							{{post.author}}</span>
					</div>
					<div class="header-post-categories">
						{% for catsel in categoriesSelected %}
							<a class="category" href="{{ path('postbycat',{slug_category:catsel.slug}) }}">{{catsel.name}}</a>
						{% endfor %}
					</div>
				</div>
				<div class="content">
					<p class="content-post">{{post.content}}</p>
				</div>
				<div class="tag-list">
					<div class="tags-header mt-2">Liste des tags</div>
					{% for tagsel in tagsSelected %}					
						<a href="{{ path('postbytag',{slug_tag:tagsel.slug}) }}" class="btn-tag tag-item">{{tagsel.name}}</a>
					{% endfor %}
				</div>
				<div class="block_comment">
					<div class="comments-header">Commentaires</div>
					<!-- affiche le form pour saisir un commentaire ou afficher les boutons signup-->
					{% if session.get('auth',session.all()) != empty %}						
						<div class="form-comment">
							<form action="" method="post">
								<label for="commentTextarea" class="form-label mt-4">Laissez un commentaire</label>
								<textarea name="comment" class="form-control mb-3" id="commentTextarea" rows="3" style="height: 120px;" placeholder="Les commentaires sont soumis à validation" required ></textarea>
								<button type="submit" class="btn btn-primary">Envoyez</button>
							</form>
						</div>
					{% else %}
						<div class="d-flex justify-content-around mb-3 mt-3">
                           <a class="btn btn-primary btn-hero" href="{{ path('signup')}}">S'inscrire</a>
                            <a class="btn btn-primary btn-hero" href="{{ path('login')}}">Login</a>
                        </div>
					{% endif %}
					<!--************END FORM COMMENT************-->
					
					{% for comment in comments %}					
						{% if loop.index is divisible by(2) %}
							<div class="card border-dark mb-3 comment comment-right">
								<div class="card-header">{{ comment.nickname }}</div>
								<div class="card-body">
									<p class="card-text">{{ comment.content }}</p>
								</div>
							</div>
						{% else %}
							{% if comment is not empty %}
								<div class="card bg-light mb-3 comment comment-left">
									<div class="card-header">{{comment.nickname}}</div>
									<div class="card-body">
										<p class="card-text">{{ comment.content }}</p>
									</div>
								</div>
							{% else %}	
					 			<div class="text-dark mb-3  fst-italic">Aucun commentaire</div>
							{% endif %}
						{% endif %}
							
					{% endfor %}

									
				</div>
			</div>
			{% block sidemenu %}
				{% include 'template/sidemenu.html.twig' %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
