{% extends "admin/template/baseAdmin.html.twig" %}
{% block css %}{% endblock %}
{% block title %}Dashboarddddddddddddd
{% endblock %}
{% block content %}
	<div id="layoutSidenav_content">
		<main>
			<div class="container">
				<div class="post-resume ">
					<div class="jumbotron px-5 my-5 bg-light border rounded-3">
							<h1 class="text-info display-3 mb-2">{{post.title}}</h1>
							<p class="lead author fst-italic">Chapô : {{post.chapo}}</p>						
					</div>					
				</div>
				<div class="card border-dark mb-3 comment comment-left">
					<form method="POST" action="">
						<div class="card-header">
							<div class="author">
								Pseudo de l'auteur :<p class="lead fw-bold">{{ comment.nickname }}</p>
							</div>
						</div>
						<div class="card-body">
							<div class="commment">
								Commentaire de l'auteur :<p class="lead fw-bold">{{ comment.content }}</p>
							</div>
							<input name="usertoken" type="hidden" value="{{session.get('usertoken')}}">
							<button type="submit" class="btn btn-primary">Valider commentaire</button>
						</div>
						
					</form>
				</div>
			</div>
		</main>		
	</div>


{% endblock %}
